/* App.css */

/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: url('./assets/background.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px;
  border-radius: 10px;
}

.App-header img {
  max-width: 100%;
  height: auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-top: 20px;
}

.content h2 {
  font-size: 2.5em;
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.content p {
  font-size: 1.2em;
  margin: 20px 0;
  font-weight: 300;
  line-height: 1.5;
}

.buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.buttons a {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1em;
  font-weight: 600;
  color: white;
  background-color: #ff6600;
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.3s, transform 0.3s;
}

.buttons a:hover {
  background-color: #e65c00;
  transform: translateY(-5px);
}

footer {
  justify-content: last baseline;
  margin-top: 140px;
  font-size: 0.8em;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .content {
    width: 80%;
  }

  .content h2 {
    font-size: 2em;
  }

  .content p {
    font-size: 1em;
  }

  .buttons a {
    padding: 10px 20px;
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  .content {
    width: 90%;
  }

  .content h2 {
    font-size: 1.8em;
  }

  .content p {
    font-size: 0.9em;
  }

  .buttons {
    flex-direction: column;
    gap: 10px;
  }

  .buttons a {
    padding: 10px 20px;
    font-size: 0.9em;
  }

  footer {
    margin-top: 100px;
  }
}
